<style>

  .on_top_always {
    z-index: 999 !important;
  }
  
  </style>
<!--Don Irwin use this on the tool tip so that it will be on top always-->

<div class="container">

    <div>
        <div id="customer_prod_summary_img"></div>        
    </div>

    <div>
        <div id="table"></div>
    </div>
      <script>
        new gridjs.Grid({
          columns: [
            { id: 'customer_id', name: 'Customer ID' },
            { id: 'f_name', name: 'First Name' },
            { id: 'l_name', name: 'Last Name' },
            { id: 'product_name', name: 'Product Name' },
            { id: 'product_type', name: 'Product Type' },
            { id: 'amt_usd', name: 'Amount (USD)' },
            { id: 'post_date', name: 'Post Date' },
            { id: 'channel_desc', name: 'Channel Description' },
            { id: 'partner_desc', name: 'Partner Description' },
            { id: 'location_name', name: 'Location Name' },
            { id: 'account_name', name: 'Account Name' },
            { id: 'account_type', name: 'Account Type' }
          ],
          server: {
            url: '/api/data',
            then: results => results.data,
          },
          style: {
                td: {
                border: '0px solid #ccc'
                },
                th:
                {
                border: '0px solid #ccc'
                },
                table: {
                'font-size': '10px'
                }
            },
          sort: true,
          pagination: true,
        }).render(document.getElementById('table'));

        parse({{ chart_json | safe }}, "customer_prod_summary");

      </script>

    

</div>


  <script>

  
      $(document).ready(function () {


        $("#dataset_table_parent table.dataframe").attr("class","display");
        $("#dataset_table_parent table.display").attr("border","0");
        $("#dataset_table_parent table.display").attr("style","width:100%");
        $("#dataset_table_parent table.display").attr("id","mydataframe");

        $("#mydataframe").dataTable( {
        "columns": [
            null,
            { "width": "15%" },
            { "width": "15%" },
            null,
            null,
            null, 
            null,
            null
        ],
        "columnDefs": [
        { "visible": false, "targets": 1 }
    ],
        "buttons": [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]        
        } );



        parse({{ chart_json | safe }}, "customer_prod_summary_img");


          page_not_loading();


      });

    </script>    



  {% if chart_json is not none %}

  <div class="container">
    <div class="container-fluid" id="event_detail_rendering">
        <div class="row">
            <div class="col-md-1">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" onclick="move_back_slide()" id="move_back_slide"/>
            </div>
            <div class="col-md-10  float-left">
                {% if event_text is not none %}
                {{ event_text | safe }}
                {% endif %}
            </div>
            <div class="col-md-1 float-right">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" style="transform:rotate(180deg)" class="float-end" id="move_forward_slide" onclick="move_forward_slide()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br/>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="event_render_container">
                    {% if chart_json is not none %}
                    <!-- Placeholder for the tooltip -->
                    <div id="vis-tooltip" class="vg-tooltip on_top_always"></div>
                </div>
                <!-- Render Charts -->
                <script type="text/javascript">
                    function parse(url, div) {
                        var opt = { mode: "vega-lite", renderer: "svg", actions: { export: true, source: false, editor: false } };
                        vegaEmbed("#" + div, url, opt, function (error, result) {
                            vegaTooltip.vegaLite(result.view, url);
                        });
                    }
                    //Parse your Json variable here
                    parse({{ chart_json | safe }} , "event_rendering_chart");
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    var slide_no = 1;
    var current_event_name = "";
    var total_slides = {{ total_slides }};

    function move_forward_slide() {
        nav_to_section("trade");
        slide_no += 1;
        page_loading();
        render_graphs("trade", slide_no);
    }

    function move_back_slide() {
        nav_to_section("trade");
        if (slide_no == 1) {
            return;
        }
        slide_no -= 1;
        page_loading();
        render_graphs("trade", slide_no);
    }

    $(document).ready(function () {
        slide_no = {{ slide_no }};
        if (!(slide_no < total_slides)) {
            $("#move_forward_slide").hide();
        } else {
            $("#move_forward_slide").show();
        }
        page_not_loading();
    });
</script>


  {% endif %}
  