
<div id="customer_info_caller"></div>

<script>


    


      function refresh_fastapi(state,county,county_or_msa){
  
  
            $.ajax({
                url: '/consume_fastapi',
                type: 'post',
                data: {state:state,county:county,county_or_msa:county_or_msa},
                success: function(data){ 
                    $('#fastapi_caller').empty();                 
                    $('#fastapi_caller').html(data); 
                    $('#fastapi_caller').append(data.htmlresponse); 
                    page_not_loading();
                }
            });
            
          };


  $(document).ready(function () {
      
  
  });
  
  </script>
  
  