
<div id="customer_info_caller"></div>

<script>


    


      function refresh_fastapi(pageno){
  
  
            $.ajax({
                url: '/get_customer_revenue',
                type: 'post',
                data: {pageno:pageno},
                success: function(data){ 
                    $('#customer_info_caller').empty();                 
                    $('#customer_info_caller').html(data); 
                    $('#customer_info_caller').append(data.htmlresponse); 
                    page_not_loading();
                }
            });
            
          };


  $(document).ready(function () {
      
  
  });
  
  </script>
  
  